name: Bench Commit

on:
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  bench:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v5
        with:
          persist-credentials: false

      - name: Install Rust
        uses: actions-rs/toolchain@v1
        with:
          toolchain: stable

      - name: Run benchmarks
        run: cargo bench --release | tee bench_results.txt

      - name: Commit bench results
        uses: stefanzweifel/git-auto-commit-action@v7
        with:
          commit_message: "Update bench_results"
          file_pattern: "bench_results.txt"
